/*
 * Mekzantine — the sacred-computer typeface, designed by the artist who
 * publishes at mek.gallery. Self-hosted from Tome's own origin: the files under
 * /fonts/ are fetched at build time by scripts/fetch-fonts.mjs (they are not
 * committed — Mekzantine has no published licence). `--font-family-mono` in
 * tokens.css keeps a `ui-monospace … monospace` fallback so a missing font
 * never breaks the reader.
 */

@font-face {
  font-family: 'MekzantineMono';
  src: url('/fonts/mekzantine-mono.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mekzantine';
  src: url('/fonts/mekzantine.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
